<form [formGroup]="form" (ngSubmit)="formPregunta()">
  <h2 mat-dialog-title="">
    {{ data.operation === "add" ? "Agregar Nueva Pregunta" : "Editar Pregunta" }}
  </h2>
  <mat-dialog-content>
    <mat-card fxFlex="100%">
      <div fxLayout="column" fxLayoutGap="10px">
        <mat-form-field>
          <mat-label>Ingrese Contenido</mat-label>
          <input type="text" matInput placeholder="ejem. Angular" formControlName="contenido" required />
          <mat-error>Debe ingresar el contenido de la pregunta</mat-error>
        </mat-form-field>
      </div>
    </mat-card>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true">Cerrar</button>
    <button mat-button type="submit" [disabled]="form.invalid">
      {{ data.operation === "add" ? "Guardar" : "Actualizar" }}
    </button>
  </mat-dialog-actions>
</form>
